
#header{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    width: 100%;
    height: 65vh;
    opacity: .75;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headerlist{
    color: honeydew;
    list-style: none;
    text-align: center;
    
   
}
/* horizontall-list */
.forhover li a:hover{
    border-radius: 50rem;
    width: 5rem;
    box-shadow: 0 0 2px 2px  rgba(206, 214, 223, 0.8);
    /* border: white solid 0.1rem; */
   
}
.headerlist li{
    display: inline-block;
    margin-right: 20px;
}
.headerlist li a{
    color: honeydew;
    text-decoration: none;
}
.headerlist li:hover{
    text-decoration: underline;
}
#name{
    color: honeydew;
    position: relative;
    text-align: center;
    margin-left: 10px;
    font-size: 3rem;
    margin-top: 8rem;
}
#about{
   height: auto;
    width: 100% ;
    position: relative;
 
}
#about div{
    height: 8rem;
    width: 8rem;
    margin: auto;
}
#about div img{
    margin-top: -10vh;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 70px;
    border:2px solid rgb(217, 225, 235);
    box-shadow: 0 0 5px 5px  rgba(235, 240, 245, 0.8);

}
#about p{
    
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2rem;
    word-spacing: 0rem;
    color:grey;
}
#main section{
    height: auto;
    width:100%;

}
#skills{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color:#9e9b9b29; */
}
#skillhead{
    font-size: 3rem;
    margin-bottom: 2rem;
    color:  rgb(105, 105, 236);;
}
#skills div{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    height:auto;
   
}
.skills-display{
    display: flex;
    margin-left: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-display display{
    height: 1.5rem;
    padding: 0px;
    margin: 2rem;
    width: 10rem;
    border-radius: 1rem;
    border:2px solid black  ;
    display: inline;
}
.skills-display display skillsethtml{
    text-align: center;
    vertical-align: middle;
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 80%;
    background-color: red;
}
.skills-display display skillsetcss{
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 70%;
    background-color:rgb(70, 70, 161);
}
.skills-display display skillsetjava{
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 80%;
    background-color:rgb(110, 75, 110);
}
.skills-display display skillsetpython{
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 90%;
    background-color: green;
}
.skills-display display skillsetcpp{
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 50%;
    background-color: yellow;
}
.skills-display display skillsetreact{
    display: block;
    border-radius: inherit;
    height:inherit;
    width: 20%;
    background-color: orange;
}
#contactinfo{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
}
#contactinfo h1{
    font-size: 2rem;
    width: 100%;
    color: white;
    text-align: center;
}
#contactinfo infoform{
    width: 50%;
    margin: 2rem;
    height: auto;
    background-color: inherit;
}
#contactinfo infoform input{
    margin-left: 20%;
    margin: 2rem;
    border: 0px;
    background-color: inherit;
    color: rgb(184, 174, 174);
    border-bottom:2px solid wheat;
    width: 80%;
    font-size: 1.2rem;
    display: flext;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#contactinfo infoform button{
    margin-left: 30%;
    background-color: inherit;
    width: 6rem  ;
    height: 3rem;
    border:.15rem solid  wheat;
    color: wheat;
    
}
#contactinfo address{
    display: flex;
    flex-direction: column;
    height: auto;
  
}#contactinfo address h3{
margin: 1rem;
font-weight: 550;
color: white;
font-size: 1.3rem;
font-family: sans-serif;
}

#contactinfo address invite{
    margin: 0.7rem;
    font-family: sans-serif;
    color: white;
}
#portfolio{
    margin: 1rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects{
    margin: 0.2rem;
    display:inline-block;
    position: inherit;
    width: 25%;
    height: 15rem;
    padding: 3.2rem;
}
.firstproject  .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000026_1550237353_project_2.jpeg);
    height: 280px; 
    background-size: cover;
    width:25vw;
    background-position: center;
    text-align: center;
}
.secondproject .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000029_1550237386_project.jpeg);
    background-size: cover;
    height: 280px; 
    width: 25vw;
    background-position: center;
    text-align: center;
}
.thirdproject .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-size: cover;
    height: 280px; 
    width: 25vw;
    background-position: center;
    text-align: center;
}
.fourthproject .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000027_1550237355_project_3.png);
    background-size: cover;
    height: 280px; 
    width: 25vw;
    background-position: center;
    text-align: center;
}
.fifthproject .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000028_1550237365_tree.jpeg);
    background-size: cover;
    height: 280px; 
    width: 25vw;
    background-position: center;
    text-align: center;
}
.lastproject .projectdetails{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png);
    background-size: cover;
    height: 280px;  
   width: 25vw;
    text-align: center;
}
.projectdetails a{  
    font-size: 3rem;
    line-height: 4rem;
    text-decoration: none;
    color: white;
    /* transition:2s  ease-in-out; */
    /* margin: rem; */
}

.projectdetails a{
    display: inline-block;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.projectdetails:hover>a{
    box-shadow: 0px 0px 10px 5px  rgb(166, 166, 238);
    opacity: 0.8;
    background-color: #80808078;
}
#portfolio h1{
    margin-right: 25%;
    font-weight: 500;
    margin-left: 40%;
    font-size: 3rem;
    color: rgb(83, 83, 233);
}
#portfolio h1 i{
    color: black;
    font-size: 3.5rem;
}
#education{
    box-sizing: border-box;
    padding-left: 24vw ;
}
#experience{
    box-sizing: border-box;
    padding-left: 24vw ;
}

.timeline{

     position: relative; 
    display: grid;
    align-self: center;
    justify-self:center;
    grid-template-columns: 1fr ;
    grid-auto-rows: minmax(100px,auto);
    column-gap: 2px;
    width: 100%;
    height: auto;
}
.timeline-box{
    position: relative;
    margin: 0px;
    padding: 0.3rem;
    /* border: 2px solid black; */
    position: relative;
    height: auto;
    max-width: 25vw;
    min-width: 1vw;
    /* row-gap:10rem ; */
    justify-self: left;
    color: gray;
    line-height: 1.2rem;
    font-weight: 300;
}
.timeline .timeline-box:nth-child(2n){
    left: 35vw;
}
#divider{
    position:absolute;
    left: 36.3%;
    height: 90%;
    width: 0%   ;
    border:1px dashed blue;

 }
 #divider div{
    position: sticky;
    transform: rotate(90deg);
    font-size: 1.5rem;
    top: 25%;
 }


.timeline-box h1{
    color: black;
}
.timeline-box h3{
    color: rgb(241, 97, 44);
    font-weight: 400;
}
.timeline-box h4{
    font-weight: 250;
}
#experience>h1{
    margin-left: 14vw;
    color: rgb(105, 105, 236);
    font-weight: 400;
    font-size: 3rem;
}
#education>h1{
    margin-left: 12vw;
    color: rgb(105, 105, 236);
    font-weight: 400;
    font-size: 3rem;
}
#main>section:nth-child(2n){
    background-color:#8a848429;
}


 /* #divider i{
    font-size: 1.5rem;
    transform: rotate(90deg);
    position: sticky;
    margin: 0px;
    padding: 0px;

 } */
 .timeline-box:nth-child(2n+1)::after{
     content:'' ;
    position: absolute;
    top: 50%;
    right: -7%;
     border-radius: 50%;
     height: .8rem;
     width: .8rem;
     background-color: rgb(199, 194, 194);;
 }
 .timeline-box:nth-child(2n)::before{
    content:'' ;
   position: absolute;
    top: 50%;
    left: -32.6%;
    border-radius: 50%;
    height: .8rem;
    width: .8rem;
    background-color: rgb(199, 194, 194);
}
 
@media screen and (max-width: 770px){
    .timeline .timeline-box:nth-child(2n){
        left: 0px;
    }
    #divider{
        left:-17%;
    }
    .timeline-box:nth-child(2n+1)::after{
        visibility: hidden;
    }
    .timeline-box:nth-child(n)::before{
        content:'' ;
       position: absolute;
        top: 50%;
        left: -54%;
        border-radius: 50%;
        height: .8rem;
        width: .8rem;
        background-color: rgb(199, 194, 194);
    }
    #education{
        padding-left: 10rem;
    }
    #experience{
        padding-left: 10rem;
    }
    #experience>h1{
        margin-left: 0.2vw;
        color: rgb(105, 105, 236);
        font-weight: 400;
        font-size: 3rem;
    }
    #education>h1{
        margin-left: 0.2vw;
        color: rgb(105, 105, 236);
        font-weight: 400;
        font-size: 3rem;
    }
    

}
